* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}

body {
    background-color: #C0C0C0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 45%;
    width: 130px;
    border: 3px solid white;
}

#imgb {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 350px;
    height: 440px;
    margin-top: 30px;
}

#contato {
    text-align: center;
}

#email,#whats,#curriculo {
    border-radius: 8px;
    width: 200px;
    height: 35px;
    margin-bottom: 10px;
    background-color: #DCDCDC;
    color: black;
}

#email:hover, #curriculo:hover, #whats:hover {
    background-color: rgb(255, 255, 255, 2);
    cursor: pointer;
    transition: 1s;
}

p {
    margin-top: 0%;
    text-align: center;
}

#icones {
    display: flex;
    justify-content: center;
    gap: 32px;
    font-size: 24px;
    padding: 24px 0;
}

#git, #youtube, #linkedin, #insta {
    color: black;
    border-radius: 50%;
    transition: 0.8s;
}

#git:hover, #youtube:hover, #linkedin:hover, #insta:hover {
    background-color: rgb(255, 255, 255, 0.8);
    padding: 16px;
    transition: 0.5s;
    cursor: pointer;
}

.texto {
    display: flex;
    gap: 30px;
    margin-top: 0px;
}

#sobremim {
    width: 350px;
    border-radius: 8px;
    background-color: #DCDCDC;
    padding: 15px;
}

#metas{
    width: 350px;
    border-radius: 8px;
    background-color: #DCDCDC;
    padding: 15px;
}

#trabalho {
    width: 350px;
    border-radius: 8px;
    background-color: #DCDCDC;
    padding: 15px;
}

#tituloM, #tituloS, #tituloT {
    text-align: center;
}

#textoS, #textoM, #textoT {
    text-align: justify;
}

#metas:hover, #sobremim:hover, #trabalho:hover {
    transition: 1s;
    background-color: white;
}